<!-- Set Up -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>US Homelessness</title>

    <!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- Importing the other links -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Importing the link to CSS File -->
	<link href="../static/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>

  <body>
	<!-- Create the Nav Bar -->
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		
		<label class="logo">US Homelessness</label>
		<ul>
			<li><a class="active" href="index.html">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
				aria-haspopup="true" aria-expanded="false">
				  Charts
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="../../Mitra/2019RadialBarChart/index.html">Radial Bar Chart</a>
				  <a class="dropdown-item" href="../../Mitra/Dot_Chart/index.html">Dot Chart</a>
				  <a class="dropdown-item" href="../../Jipeng Yan/index.html">Population</a>
				</div>
			  </li>
			<li><a class="active" target="_blank" href="../../Kay/map.html">Map</a></li>
			<li><a class="active" href="../../Mengye/webPage/shelters_loc.html">Location</a></li>
			<li><a class="active" href="summary.html">Summary</a></li>
		</ul>
	</nav>

    <hr style="border: 1px solid #F8F8FF;" />


	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<hr>
			<div class="col-12">
				<h2>Overview</h2>
				<p class="lead">
					More than thousands of people are sleeping on streets and homeless shelters around the bay area. The purpose of this
					project is to explore the homeless population in California. The homeless population dataset gathered include
					population count by county and by city in multiple years. The project includes visualizations showing the severity
					of homelessness in the entire state of California over the years.
				</p>
			</div>
			<hr>
			<div class="col-12">
				<h2>Conclusion</h2>
				<p class="lead">
					Based on the quantitative datasets gathered, the overall total homeless population in the United States slightly
					decreased from year 2010 to 2019 by approximately 11 percent. Despite the decrease in total number, homelessness
					continues to be a significant issue in some states. California remains as the state with the most homeless
					population from 2010 to 2019 followed by New York and Florida. The overall homeless population in California shows a
					significant increase over a decade. Wyoming remains as the state with the lowest homeless population.
				</p>
			</div>
			<hr>
			<div class="col-12">
				<h2>Reference</h2>
				<a target="_blank" href="https://www.homelessshelterdirectory.org/">HOMELESS SHELTER DIRECTORY</a>
				<br>
				<a target="_blank" href="https://www.hud.gov/2019-point-in-time-estimates-of-homelessness-in-US">US DEPARTMENT OF HOUSING AND URBAN DEVELOPMENT</a>
			</div>
		</div>
	</div>

	
	
  </body>
</html>