
body {
    margin: 0;
    padding: 0;
    height: 1000px;
    background: #171717;
    font-family: Cambria, sans-serif;
    color: whitesmoke;
    height: 100%;
}
header {
    /* padding: 6px 10%; */
    padding: 8px 15px 8px 15px;
    border-bottom:10px solid #E14658;
    border-top:10px solid #E14658;
}
h1 {
    color: whitesmoke;
    padding: 0;
    margin: 0;
    text-align: center;
}
h2 { 
    color: whitesmoke;
    padding: 5px;
    margin: 0;
    text-align: center;
}
#map {
    width: 80%;
    height: 600px;
    margin: 30px auto;
}

footer {
    background: #171717;
    color: white; 
    min-height: 10px; 
    min-height: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    text-align: center; 
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding-top: 5px;
}


p {
    font-size: 1em;
    font-family: Cambria, sans-serif;
    color: whitesmoke;
}
.hydro {
    color: #1f78b4;
}
.solar {
    color: yellow;
}
.wind {
    color: #a6cee3;
}
.nuclear {
    color: #AEFF00;
}
.leaflet-control-layers {
    width: 75px; 
    background: white;
    color: #777;
    background: rgba(255,255,255,0.8); 
}
.leaflet-popup-content-wrapper {
    background: #3B3B3B; 
    color: #BFBFBF;
    text-align: left;
}
.leaflet-popup-tip-container {
    color: #3B3B3B; 
}
.leaflet-popup-tip {
    background: #3B3B3B;
}
h3 {
    color: yellow;
    margin: 0px 0px 0px 0px;
    font-size: 1em;
}
h4 {
    color: #a6cee3; 
    margin: 0px 0px 0px 0px; 
    font-size: 1em;
}

.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
    color: #777; 
} 
.info h4 { 
    margin: 0 0 5px; 
    color: #777; 
}
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
    background: white; 
    padding: 6px 8px; 
    border-radius: 5px; 
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
} 
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
}


/* <!-- <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      #map {
        width: 600px;
        height: 400px;
      }
    </style>
    <style>
      #map { width: 800px; height: 500px; }
      .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
      .legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
    </style> --> */

